body {
    background-color: black;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex; /* Arrange canvas and videos horizontally */
    align-items: flex-start; /* Align items to the top of the container */
}

.video-container {
    display: flex;
    flex-direction: column; /* Stack videos vertically */
    margin-left: 10px; /* Add some space between canvas and videos */
}

canvas {
    border: 1px solid white;
}

#originalVideo, #processedVideo {
    width: 300px;
    height: 399px;
    border: 1px solid white;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
}