<!DOCTYPE html>
<html>
<head>
    <title>OpenCV Bullet Hell</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
</head>
<body>
    <h1>OpenCV Bullet Hell</h1>
    <div class="container">
        <div id="gameCanvas"></div> 
        <div class="video-container">
            <img id="originalVideo">
            <img id="processedVideo">
        </div>
    </div>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>